F1
[{"id":"88b986b5.277758","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b59cb4b.99be848","type":"mqtt in","z":"88b986b5.277758","name":"","topic":"mcs/DUn2LT3D/go0smOsXhXhDCbZx/+","qos":"2","datatype":"auto","broker":"7dcb2f9e.c106b","x":230,"y":160,"wires":[["7850a600.ec8e38"]]},{"id":"7850a600.ec8e38","type":"csv","z":"88b986b5.277758","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":490,"y":280,"wires":[["4ed4e28a.ce1cac"]]},{"id":"4ed4e28a.ce1cac","type":"change","z":"88b986b5.277758","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":400,"wires":[["27614857.cdb348"]]},{"id":"27614857.cdb348","type":"ui_gauge","z":"88b986b5.277758","name":"","group":"9c6bf775.676018","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":380,"wires":[]},{"id":"7dcb2f9e.c106b","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9c6bf775.676018","type":"ui_group","z":"","name":"Status","tab":"a08206c6.df89b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a08206c6.df89b8","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
