F2
[{"id":"6d462b4e.aee714","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"951dddc2.7274d","type":"inject","z":"6d462b4e.aee714","name":"","topic":"","payload":",,25.6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":80,"wires":[["1e614f28.2bd711"]]},{"id":"9c6cfe4.30c3f","type":"inject","z":"6d462b4e.aee714","name":"","topic":"","payload":",,45.8","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["1e614f28.2bd711"]]},{"id":"1e614f28.2bd711","type":"mqtt out","z":"6d462b4e.aee714","name":"","topic":"mcs/DUn2LT3D/go0smOsXhXhDCbZx/a","qos":"2","retain":"","broker":"7dcb2f9e.c106b","x":630,"y":180,"wires":[]},{"id":"7dcb2f9e.c106b","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
